[Unit]
Description=Multi-billing testing kernel
After=syslog.target network.target mysql.service

[Service]
User={{ mbkernel.system_user }}
RuntimeDirectory={{ mbkernel.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbkernel.params.testing.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbkernel.dirs.module }}/{{ mbkernel.dirs.testing }}/kernel.php --noroot --testing
ExecReload=/bin/kill -s SIGTERM $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target