[Unit]
Description=Multi-billing testing mbtvdaemon
After=syslog.target network.target mysql.service

[Service]
User={{ mbtvdaemon.system_user }}
RuntimeDirectory={{ mbtvdaemon.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbtvdaemon.params.testing.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbtvdaemon.dirs.module }}/{{ mbtvdaemon.dirs.testing }}/mbtvdaemon.php --testing
ExecReload=/bin/kill -s SIGTERM $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target