[Unit]
Description=Multi-billing testing mbdaemonfinance
After=syslog.target network.target mysql.service

[Service]
User={{ mbdaemonfinance.system_user }}
RuntimeDirectory={{ mbdaemonfinance.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbdaemonfinance.params.testing.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbdaemonfinance.dirs.module }}/{{ mbdaemonfinance.dirs.testing }}/mbdaemonfinance.php --testing
ExecReload=/bin/kill -s SIGTERM $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target