[Unit]
Description=Multi-billing testing mbfinance
After=syslog.target network.target mysql.service

[Service]
User={{ mbfinance.system_user }}
RuntimeDirectory={{ mbfinance.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbfinance.params.testing.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbfinance.dirs.module }}/{{ mbfinance.dirs.testing }}/mbfinance.php --testing
ExecReload=/bin/kill -s SIGTERM $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target