[Unit]
Description=Multi-billing mbdaemontv
After=syslog.target network.target mysql.service

[Service]
User={{ mbdaemontv.system_user }}
RuntimeDirectory={{ mbdaemontv.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbdaemontv.params.production.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbdaemontv.dirs.module }}/{{ mbdaemontv.dirs.production }}/mbdaemontv.php
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target