[Unit]
Description=Multi-billing mbmessenger
After=syslog.target network.target mysql.service

[Service]
User={{ mbmessenger.system_user }}
RuntimeDirectory={{ mbmessenger.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbmessenger.params.production.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbmessenger.dirs.module }}/{{ mbmessenger.dirs.production }}/mbmessenger.php
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target