[Unit]
Description=Multi-billing mbqueue
After=syslog.target network.target mysql.service

[Service]
User={{ mbqueue.system_user }}
RuntimeDirectory={{ mbqueue.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbqueue.params.production.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbqueue.dirs.module }}/{{ mbqueue.dirs.production }}/mbqueue.php
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target