[Unit]
Description=Multi-billing mbdaemonqueue
After=syslog.target network.target mysql.service

[Service]
User={{ mbdaemonqueue.system_user }}
RuntimeDirectory={{ mbdaemonqueue.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbdaemonqueue.params.production.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbdaemonqueue.dirs.module }}/{{ mbdaemonqueue.dirs.production }}/mbdaemonqueue.php
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target