[Unit]
Description=Multi-billing mbdaemonmessenger
After=syslog.target network.target mysql.service

[Service]
User={{ mbdaemonmessenger.system_user }}
RuntimeDirectory={{ mbdaemonmessenger.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbdaemonmessenger.params.production.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbdaemonmessenger.dirs.module }}/{{ mbdaemonmessenger.dirs.production }}/mbdaemonmessenger.php
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target