[Unit]
Description=Multi-billing mbworkerbot
After=syslog.target network.target mysql.service

[Service]
User={{ mbworkerbot.system_user }}
RuntimeDirectory={{ mbworkerbot.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbworkerbot.params.production.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbworkerbot.dirs.module }}/{{ mbworkerbot.dirs.production }}/mbworkerbot.php
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target