[Unit]
Description=Multi-billing testing mbdaemonnotify
After=syslog.target network.target mysql.service

[Service]
User={{ mbdaemonnotify.system_user }}
RuntimeDirectory={{ mbdaemonnotify.system_user }}
Type=forking
TimeoutSec=15s
PIDFile={{ mbdaemonnotify.params.testing.pid }}
ExecStart={{ php_path.stdout }} {{ billing.dirs.home }}/{{ mbdaemonnotify.dirs.module }}/{{ mbdaemonnotify.dirs.testing }}/mbdaemonnotify.php --testing
ExecReload=/bin/kill -s SIGTERM $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target