<config>
	<parameters>
		<mysql>
			<host>{server_host}</host>
			<username>{username}</username>
			<password>{password}</password>
			<dbname>{database}</dbname>
		</mysql>
		<ip>{mbdaemonbot_ip}</ip>
		<port>{mbdaemonbot_port}</port>
		<pid>{mbdaemonbot_pid}</pid>
		<log>{log_general}</log>
		<debug>false</debug>
		<debug_log>{log_debug}</debug_log>
		<timezone>{timezone}</timezone>
	</parameters>
</config>